<div class="goals-list">
    <div class="goal" *ngFor="let goal of goals; index as indexOfElement;" [ngClass]="goal.accomplished ? 'greenBorder' : ''">
        <div class="zielanzeige--top">
            <h4>{{ indexOfElement + 1 }}. Ziel: <strong>{{ goal.name }}</strong></h4>
        
            <div>
                <button (click)="markGoalAsFinished(indexOfElement)" >
                    O
                </button>

                <button (click)="removeGoal(indexOfElement)">
                    X
                </button>
            </div>
        </div>
        <ul>
            <li *ngIf="goal.reason" class="margin--bottom"><b>Warum?</b> <br /> {{ goal.reason }}</li>
    
            <li *ngIf="goal.deadlineOne && goal.deadlineDescriptionOne">{{ changeDateFormat(goal.deadlineOne) }} - {{ goal.deadlineDescriptionOne }}</li>
    
            <li *ngIf="goal.deadlineTwo && goal.deadlineDescriptionTwo">{{ changeDateFormat(goal.deadlineTwo) }} - {{ goal.deadlineDescriptionTwo }}</li>
    
            <li *ngIf="goal.deadlineThree && goal.deadlineDescriptionThree">{{ changeDateFormat(goal.deadlineThree) }} - {{ goal.deadlineDescriptionThree }}</li>
    
            <li *ngIf="goal.deadlineFour && goal.deadlineDescriptionFour">{{ changeDateFormat(goal.deadlineFour) }} - {{ goal.deadlineDescriptionFour }}</li>
        </ul> 
    </div>
</div>
