.goals-list {
    padding-bottom: 20px;
}

.greenBorder {
    box-shadow: inset 0px 0px 0px 10px lightgreen;
}

.goal {
    background-color: white;
    width: 60%;
    border-radius: 8px;
    margin: 20px auto;
    padding: 1em;

    .zielanzeige--top {
        display: flex;
        justify-content: space-between;

        h4 {
            font-size: 1.5rem;
        }

        .action-buttons-container {
            width: 50px;
            display: flex;
            justify-content: space-between;

            .action-button {
                background-color: unset;
                border: solid 2px black;
            }
        }
    }

    .removeButton {
        display: none;
    }

    li {
        margin-top: 5px;

        .margin--bottom {
            margin-bottom: 30px;
        }
    }
}
