.goals-list {
    padding-bottom: 20px;
}

.goal {
    background-color: white;
    width: 60%;
    border-radius: 8px;
    margin: 20px auto;
    padding: 1em;

    h4 {
        font-size: 1.5rem;
    }

    li {
        margin-top: 5px;

        .margin--bottom {
            margin-bottom: 30px;
        }
    }
}
