.weekly-planner-container {

    .weekday-planner {
        margin: 0 auto;
        width: 30%;
    }

    .weekday-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: lightseagreen;
        border: none;
    }
}