<section class="weekly-planner-container">
  <div class="weekday-planner">
    <!-- Weekday display -->
    <button class="weekday-heading" (click)="toggleTodoList('monday')">
      <h3>Monday</h3>
      <img
        src="../../../assets/icons/arrowRight.png"
        alt="Opens todo list"
        *ngIf="!dailyTodoLists.isMondayDisplayed"
      />
      <img
        src="../../../assets/icons/arrowDown.png"
        alt="Displays todo list"
        *ngIf="dailyTodoLists.isMondayDisplayed"
      />
    </button>
    <!-- Form to add a todo -->
    <form
      #form="ngForm"
      (ngSubmit)="onTodoSubmit(form)"
      class="weekday-todos"
      *ngIf="dailyTodoLists.isMondayDisplayed"
    >
      <input
        ngModel
        name="monday"
        placeholder="Add a task..."
        type="text"
        class="weekday-todos__input"
      />
      <select class="weekday-todos__select" ngModel name="priority">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
      <button type="submit" class="weekday-todos__btn">Add todo</button>
    </form>
    <!-- Displays all todos on this day -->
    <div class="weekday-planner__todo">
      <div
        class="weekday-planner__todo--item"
        *ngFor="let todo of currentWeeksMondayTodos"
      >
        <p>
          {{ todo.priority }} | {{ todo.task }}
          <input
            type="checkbox"
            name="done"
            [(ngModel)]="todo.done"
            (click)="updateTodoStatus(todo)"
          />
        </p>
      </div>
    </div>
  </div>

  <div class="weekday-planner">
    <!-- Weekday display -->
    <button class="weekday-heading" (click)="toggleTodoList('tuesday')">
      <h3>Tuesday</h3>
      <img
        src="../../../assets/icons/arrowRight.png"
        alt="Opens todo list"
        *ngIf="!dailyTodoLists.isTuesdayDisplayed"
      />
      <img
        src="../../../assets/icons/arrowDown.png"
        alt="Displays todo list"
        *ngIf="dailyTodoLists.isTuesdayDisplayed"
      />
    </button>
    <!-- Form to add a todo -->
    <form
      #form="ngForm"
      (ngSubmit)="onTodoSubmit(form)"
      class="weekday-todos"
      *ngIf="dailyTodoLists.isTuesdayDisplayed"
    >
      <input
        ngModel
        name="tuesday"
        class="weekday-todos__input"
        placeholder="Add a task..."
        type="text"
      />
      <select class="weekday-todos__select" ngModel name="priority">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
      <button type="submit" class="weekday-todos__btn">Add todo</button>
    </form>
    <!-- Displays all todos on this day -->
    <div *ngFor="let todo of currentWeeksTuesdayTodos">
      <p>
        {{ todo.priority }} | {{ todo.task }}
        <input
          type="checkbox"
          name="done"
          [(ngModel)]="todo.done"
          (click)="updateTodoStatus(todo)"
        />
      </p>
    </div>
  </div>

  <div class="weekday-planner">
    <!-- Weekday display -->
    <button class="weekday-heading" (click)="toggleTodoList('wednesday')">
      <h3>Wednesday</h3>
      <img
        src="../../../assets/icons/arrowRight.png"
        alt="Opens todo list"
        *ngIf="!dailyTodoLists.isWednesdayDisplayed"
      />
      <img
        src="../../../assets/icons/arrowDown.png"
        alt="Displays todo list"
        *ngIf="dailyTodoLists.isWednesdayDisplayed"
      />
    </button>
    <!-- Form to add a todo -->
    <form
      #form="ngForm"
      (ngSubmit)="onTodoSubmit(form)"
      class="weekday-todos"
      *ngIf="dailyTodoLists.isWednesdayDisplayed"
    >
      <input
        ngModel
        class="weekday-todos__input"
        name="wednesday"
        placeholder="Add a task..."
        type="text"
      />
      <select class="weekday-todos__select" ngModel name="priority">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
      <button type="submit" class="weekday-todos__btn">Add todo</button>
    </form>
    <!-- Displays all todos on this day -->
    <div *ngFor="let todo of currentWeeksWednesdayTodos">
      <p>
        {{ todo.priority }} | {{ todo.task }}
        <input
          type="checkbox"
          name="done"
          [(ngModel)]="todo.done"
          (click)="updateTodoStatus(todo)"
        />
      </p>
    </div>
  </div>

  <div class="weekday-planner">
    <!-- Weekday display -->
    <button class="weekday-heading" (click)="toggleTodoList('thursday')">
      <h3>Thursday</h3>
      <img
        src="../../../assets/icons/arrowRight.png"
        alt="Opens todo list"
        *ngIf="!dailyTodoLists.isThursdayDisplayed"
      />
      <img
        src="../../../assets/icons/arrowDown.png"
        alt="Displays todo list"
        *ngIf="dailyTodoLists.isThursdayDisplayed"
      />
    </button>
    <!-- Form to add a todo -->
    <form
      #form="ngForm"
      (ngSubmit)="onTodoSubmit(form)"
      class="weekday-todos"
      *ngIf="dailyTodoLists.isThursdayDisplayed"
    >
      <input
        ngModel
        name="thursday"
        class="weekday-todos__input"
        placeholder="Add a task..."
        type="text"
      />
      <select class="weekday-todos__select" ngModel name="priority">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
      <button type="submit" class="weekday-todos__btn">Add todo</button>
    </form>
    <!-- Displays all todos on this day -->
    <div *ngFor="let todo of currentWeeksThursdayTodos">
      <p>
        {{ todo.priority }} | {{ todo.task }}
        <input
          type="checkbox"
          name="done"
          [(ngModel)]="todo.done"
          (click)="updateTodoStatus(todo)"
        />
      </p>
    </div>
  </div>

  <div class="weekday-planner">
    <!-- Weekday display -->
    <button class="weekday-heading" (click)="toggleTodoList('friday')">
      <h3>Friday</h3>
      <img
        src="../../../assets/icons/arrowRight.png"
        alt="Opens todo list"
        *ngIf="!dailyTodoLists.isFridayDisplayed"
      />
      <img
        src="../../../assets/icons/arrowDown.png"
        alt="Displays todo list"
        *ngIf="dailyTodoLists.isFridayDisplayed"
      />
    </button>
    <!-- Form to add a todo -->
    <form
      #form="ngForm"
      (ngSubmit)="onTodoSubmit(form)"
      class="weekday-todos"
      *ngIf="dailyTodoLists.isFridayDisplayed"
    >
      <input
        ngModel
        class="weekday-todos__input"
        name="friday"
        placeholder="Add a task..."
        type="text"
      />
      <select class="weekday-todos__select" ngModel name="priority">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
      <button type="submit" class="weekday-todos__btn">Add todo</button>
    </form>
    <!-- Displays all todos on this day -->
    <div *ngFor="let todo of currentWeeksFridayTodos">
      <p>
        {{ todo.priority }} | {{ todo.task }}
        <input
          type="checkbox"
          name="done"
          [(ngModel)]="todo.done"
          (click)="updateTodoStatus(todo)"
        />
      </p>
    </div>
  </div>

  <div class="weekday-planner">
    <!-- Weekday display -->
    <button class="weekday-heading" (click)="toggleTodoList('saturday')">
      <h3>Saturday</h3>
      <img
        src="../../../assets/icons/arrowRight.png"
        alt="Opens todo list"
        *ngIf="!dailyTodoLists.isSaturdayDisplayed"
      />
      <img
        src="../../../assets/icons/arrowDown.png"
        alt="Displays todo list"
        *ngIf="dailyTodoLists.isSaturdayDisplayed"
      />
    </button>
    <!-- Form to add a todo -->
    <form
      #form="ngForm"
      (ngSubmit)="onTodoSubmit(form)"
      class="weekday-todos"
      *ngIf="dailyTodoLists.isSaturdayDisplayed"
    >
      <input
        ngModel
        name="saturday"
        placeholder="Write a task..."
        type="text"
        class="weekday-todos__input"
      />
      <select class="weekday-todos__select" ngModel name="priority">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
      <button type="submit" class="weekday-todos__btn">Add todo</button>
    </form>
    <!-- Displays all todos on this day -->
    <div *ngFor="let todo of currentWeeksSaturdayTodos">
      <p>
        {{ todo.priority }} | {{ todo.task }}
        <input
          type="checkbox"
          name="done"
          [(ngModel)]="todo.done"
          (click)="updateTodoStatus(todo)"
        />
      </p>
    </div>
  </div>

  <div class="weekday-planner">
    <!-- Weekday display -->
    <button class="weekday-heading" (click)="toggleTodoList('sunday')">
      <h3>Sunday</h3>
      <img
        src="../../../assets/icons/arrowRight.png"
        alt="Opens todo list"
        *ngIf="!dailyTodoLists.isSundayDisplayed"
      />
      <img
        src="../../../assets/icons/arrowDown.png"
        alt="Displays todo list"
        *ngIf="dailyTodoLists.isSundayDisplayed"
      />
    </button>
    <!-- Form to add a todo -->
    <form
      #form="ngForm"
      (ngSubmit)="onTodoSubmit(form)"
      class="weekday-todos"
      *ngIf="dailyTodoLists.isSundayDisplayed"
    >
      <input
        class="weekday-todos__input"
        ngModel
        name="sunday"
        placeholder="Add a task..."
        type="text"
      />
      <select class="weekday-todos__select" ngModel name="priority">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
      <button type="submit" class="weekday-todos__btn">Add todo</button>
    </form>
    <!-- Displays all todos on this day -->
    <div *ngFor="let todo of currentWeeksSundayTodos">
      <p>
        {{ todo.priority }} | {{ todo.task }}
        <input
          type="checkbox"
          name="done"
          [(ngModel)]="todo.done"
          (click)="updateTodoStatus(todo)"
        />
      </p>
    </div>
  </div>
</section>
