$br5: 0.5em;

.weekly-planner-container {
  max-width: 100%;
  min-width: 400px;
  margin: 1em auto;
  .weekday-planner {
    margin: 0 auto;
    border-radius: 0.4rem;
    padding: 0;
    width: 100%;
    background-color: rgb(101, 49, 223);
    margin-bottom: 1em;
  }

  .weekday-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
    padding: 0.5em 1em;
    width: 100%;
    border: none;
  }
  .weekday-todos {
    padding: 0.5em 1em;

    &__input {
      padding: 0.5em 1em;
      border-radius: $br5;
    }
    &__select {
      margin: 0 0.5em;
      padding: 0.5em 0.875em;
      cursor: pointer;
      border-radius: $br5;
      border: 2px solid transparent;
      &:focus {
        border-color: #06924c;
      }
    }
    &__btn {
      padding: 0.5em 1em;
      margin: 0 0.5em;
      font-weight: 600;
      background: #06924c;
      border-radius: $br5;
      border: none;
      color: #fff;
      transition: 0.5s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
