<div class="dashboard-container">
    <nav class="dashboard-navigation">
        <a routerLink="/dashboard/main-dashboard/1">Übersicht</a>
        <a routerLink="/dashboard/goals-dashboard">Ziele</a>
        <a routerLink="/dashboard/settings">Einstellungen</a>
    </nav>

    <div class="maindashboard-container">
      <section class="wochenanzeige">
        <div *ngIf="hasPreviousWeek()">
          <a [routerLink]="getPreviousWeek()">letzte Woche</a>
        </div>

        <h2>Woche {{ week }}</h2>

        <div *ngIf="hasNextWeek()">
          <a [routerLink]="getNextWeek()">nächste Woche</a>
        </div>
      </section>

      <section>
        {{ mondayNumberOfDoneTodos }} erledigt
        <button (click)="deleteTodos()">Lösche Todos</button>
      </section>

      <section class="weekly-planner-container">
            <div class="weekday-planner">
                <!-- Wochentaganzeige -->
                <button class="weekday-heading" (click)="toggleTodoList('monday')">
                  <h3>Montag</h3>
                  <img src="../../../assets/icons/arrowRight.png" alt="Öffnet Todo-Liste" *ngIf="!dailyTodoLists.isMondayDisplayed"/>
                  <img src="../../../assets/icons/arrowDown.png" alt="Zeigt Todo-Liste" *ngIf="dailyTodoLists.isMondayDisplayed"/>
                </button>
                <!-- Alle Aufgaben an diesem Tag -->
                <form #form="ngForm" (ngSubmit)="onTodoSubmit(form)" class="weekday-todos" *ngIf="dailyTodoLists.isMondayDisplayed">
                  <input ngModel name="monday" type="text" />
                  <select ngModel name="priority">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  <button type="submit">Todo anlegen</button>
                </form>
                <div *ngFor="let todo of allMondayTodos; index as indexOfTodo">
                  <p>{{ todo.priority }} | {{ todo.task }} <input type="checkbox" name="done" [(ngModel)]="todo.done" (click)="updateTodoStatus(indexOfTodo, 'monday')" /></p>
                </div>
            </div>

            <!--
              
              
              
              
              <div class="weekday-planner">
                 Wochentaganzeige 
                <button class="weekday-heading" (click)="toggleTodoList('tuesday')">
                    <h3>Dienstag</h3>
                    <img src="../../../assets/icons/arrowRight.png" alt="Öffnet Todo-Liste" *ngIf="!dailyTodoLists.isTuesdayDisplayed" />
                    <img src="../../../assets/icons/arrowDown.png" alt="Zeigt Todo-Liste" *ngIf="dailyTodoLists.isTuesdayDisplayed"/>
                  </button>
                 Alle Aufgaben an diesem Tag 
                <form #form="ngForm" (ngSubmit)="onTodoSubmit(form)" class="weekday-todos" *ngIf="dailyTodoLists.isTuesdayDisplayed">
                  <input ngModel name="tuesday" type="text" />
                  <select ngModel name="priority">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  <button type="submit">Todo anlegen</button>
                </form>
                <div *ngFor="let todo of allTuesdayTodos; index as indexOfTodo">
                  <p>{{ todo.priority }} | {{ todo.task }} <input type="checkbox" name="done" [(ngModel)]="todo.done" (click)="updateTodoStatus(indexOfTodo, 'tuesday')" /></p>
                </div>
            </div>-->

           <!-- <div class="weekday-planner">
                 Wochentaganzeige 
                <button class="weekday-heading" (click)="toggleTodoList('wednesday')">
                  <h3>Mittwoch</h3>
                  <img src="../../../assets/icons/arrowRight.png" alt="Öffnet Todo-Liste" *ngIf="!dailyTodoLists.isWednesdayDisplayed" />
                  <img src="../../../assets/icons/arrowDown.png" alt="Zeigt Todo-Liste" *ngIf="dailyTodoLists.isWednesdayDisplayed" />
                </button>
                 Alle Aufgaben an diesem Tag 
                <form #form="ngForm" (ngSubmit)="onTodoSubmit(form)" class="weekday-todos" *ngIf="dailyTodoLists.isWednesdayDisplayed">
                  <input ngModel name="wednesday" type="text" />
                  <select ngModel name="priority">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  <button type="submit">Todo anlegen</button>
                </form>
                <div *ngFor="let todo of allWednesdayTodos; index as indexOfTodo">
                  <p>{{ todo.priority }} | {{ todo.task }} <input type="checkbox" name="done" [(ngModel)]="todo.done" (click)="updateTodoStatus(indexOfTodo, 'wednesday')" /></p>
                </div>
            </div>-->
            <!--
            <div class="weekday-planner">
                 Wochentaganzeige 
                <button class="weekday-heading" (click)="toggleTodoList('thursday')">
                    <h3>Donnerstag</h3>
                    <img src="../../../assets/icons/arrowRight.png" alt="Öffnet Todo-Liste" *ngIf="!dailyTodoLists.isThursdayDisplayed" />
                    <img src="../../../assets/icons/arrowDown.png" alt="Zeigt Todo-Liste" *ngIf="dailyTodoLists.isThursdayDisplayed" />
                  </button>-->
                <!-- Alle Aufgaben an diesem Tag 
                <form #form="ngForm" (ngSubmit)="onTodoSubmit(form)" class="weekday-todos" *ngIf="dailyTodoLists.isWednesdayDisplayed">
                  <input ngModel name="thursday" type="text" />
                  <select ngModel name="priority">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  <button type="submit">Todo anlegen</button>
                </form>
                <div *ngFor="let todo of allThursdayTodos; index as indexOfTodo">
                  <p>{{ todo.priority }} | {{ todo.task }} <input type="checkbox" name="done" [(ngModel)]="todo.done" (click)="updateTodoStatus(indexOfTodo, 'thursday')" /></p>
                </div>
            </div>

            <div class="weekday-planner">-->
                <!-- Wochentaganzeige 
                <button class="weekday-heading" (click)="toggleTodoList('friday')">
                  <h3>Freitag</h3>
                  <img src="../../../assets/icons/arrowRight.png" alt="Öffnet Todo-Liste" *ngIf="!dailyTodoLists.isFridayDisplayed" />
                  <img src="../../../assets/icons/arrowDown.png" alt="Zeigt Todo-Liste" *ngIf="dailyTodoLists.isFridayDisplayed" />
                </button>-->
                <!-- Alle Aufgaben an diesem Tag 
                <form #form="ngForm" (ngSubmit)="onTodoSubmit(form)" class="weekday-todos" *ngIf="dailyTodoLists.isFridayDisplayed">
                  <input ngModel name="friday" type="text" />
                  <select ngModel name="priority">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  <button type="submit">Todo anlegen</button>
                </form>
                <div *ngFor="let todo of allFridayTodos; index as indexOfTodo">
                  <p>{{ todo.priority }} | {{ todo.task }} <input type="checkbox" name="done" [(ngModel)]="todo.done" (click)="updateTodoStatus(indexOfTodo, 'friday')" /></p>
                </div>
            </div>

            <div class="weekday-planner">-->
                <!-- Wochentaganzeige 
                <button class="weekday-heading" (click)="toggleTodoList('saturday')">
                    <h3>Samstag</h3>
                    <img src="../../../assets/icons/arrowRight.png" alt="Öffnet Todo-Liste" *ngIf="!dailyTodoLists.isSaturdayDisplayed" />
                    <img src="../../../assets/icons/arrowDown.png" alt="Zeigt Todo-Liste" *ngIf="dailyTodoLists.isSaturdayDisplayed" />
                  </button>-->
                <!-- Alle Aufgaben an diesem Tag 
                <form #form="ngForm" (ngSubmit)="onTodoSubmit(form)" class="weekday-todos" *ngIf="dailyTodoLists.isSaturdayDisplayed">
                  <input ngModel name="saturday" type="text" />
                  <select ngModel name="priority">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  <button type="submit">Todo anlegen</button>
                </form>
                <div *ngFor="let todo of allSaturdayTodos; index as indexOfTodo">
                  <p>{{ todo.priority }} | {{ todo.task }} <input type="checkbox" name="done" [(ngModel)]="todo.done" (click)="updateTodoStatus(indexOfTodo, 'saturday')" /></p>
                </div>
            </div>

            <div class="weekday-planner">
                 Wochentaganzeige 
                <button class="weekday-heading" (click)="toggleTodoList('sunday')">
                    <h3>Sonntag</h3>
                    <img src="../../../assets/icons/arrowRight.png" alt="Öffnet Todo-Liste" *ngIf="!dailyTodoLists.isSundayDisplayed" />
                    <img src="../../../assets/icons/arrowDown.png" alt="Zeigt Todo-Liste" *ngIf="dailyTodoLists.isSundayDisplayed" />
                  </button>-->
                <!-- Alle Aufgaben an diesem Tag 
                <form #form="ngForm" (ngSubmit)="onTodoSubmit(form)" class="weekday-todos" *ngIf="dailyTodoLists.isSundayDisplayed">
                  <input ngModel name="sunday" type="text" />
                  <select ngModel name="priority">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  <button type="submit">Todo anlegen</button>
                </form>
                <div *ngFor="let todo of allSundayTodos; index as indexOfTodo">
                  <p>{{ todo.priority }} | {{ todo.task }} <input type="checkbox" name="done" [(ngModel)]="todo.done" (click)="updateTodoStatus(indexOfTodo, 'sunday')" /></p>
                </div>
            </div>
            -->
        </section>
      
    </div>
</div>
