<div class="dashboard-container">
    <nav class="dashboard-navigation">
        <a routerLink="/dashboard/main-dashboard/1">Übersicht</a>
        <a routerLink="/dashboard/goals-dashboard">Ziele</a>
        <a routerLink="/dashboard/settings">Einstellungen</a>
    </nav>

    <div class="maindashboard-container">
      <section class="wochenanzeige">
        <div *ngIf="hasPreviousWeek()">
          <a [routerLink]="getPreviousWeek()">letzte Woche</a>
        </div>

        <h2>Woche {{ week }}</h2>

        <div *ngIf="hasNextWeek()">
          <a [routerLink]="getNextWeek()">nächste Woche</a>
        </div>
      </section>

      <app-weekly-planner></app-weekly-planner>

    </div>
</div>
