<div class="dashboard-container">
    <nav class="dashboard-navigation">
        <a routerLink="/dashboard/main-dashboard/1">Overview</a>
        <a routerLink="/dashboard/goals-dashboard">Goals</a>
        <a routerLink="/dashboard/settings">Settings</a>
    </nav>

    <div class="maindashboard-container">
      <section class="weekdisplay">
        <div *ngIf="hasPreviousWeek()">
          <a [routerLink]="getPreviousWeek()">last week</a>
        </div>

        <h2>Week {{ week }}</h2>

        <div *ngIf="hasNextWeek()">
          <a [routerLink]="getNextWeek()">next week</a>
        </div>
      </section>

      <app-weekly-goals></app-weekly-goals>
      <app-weekly-planner></app-weekly-planner>
      <app-habit-tracker></app-habit-tracker>

    </div>
</div>
