$purple: rgb(163, 74, 204);
$dark_purple: rgb(122, 38, 161);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.dashboard-container {
  background-color: rgb(177, 173, 230);
  width: 80vw;
  min-height: 80vh;
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  .dashboard-navigation {
    position: absolute;
    right: -30px;
    top: 35%;
    display: flex;
    flex-direction: column;
    background-color: $dark_purple;
    width: fit-content;
    border-radius: 0.5rem;

    & a:first-of-type {
      border-radius: 0.5rem 0.5rem 0 0;
    }
    & a:last-of-type {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }

  & a {
    padding: 1em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $dark_purple;
    border-radius: 0.5rem;

    &:hover {
      background-color: darken($dark_purple, 10);
    }
  }
}

.section-header {
  text-align: center;
  padding: 3rem;
  background-color: #efdef5;

  h2 {
    font-size: 2rem;
  }
}
