* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.dashboard-container {
    background-color: rgb(177, 173, 230);
    width: 80vw;
    min-height: 80vh;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;

    .dashboard-navigation {
        position: absolute;
        right: -30px;
        top: 35%;
        display: flex;
        flex-direction: column;
        background-color: red;
        width:fit-content;
    }

    a {
        padding: 1em;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
    }  
}



